
<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/banner2.png" width="100%">
      </div>
      <div class="carousel-item">
        <img src="/images/banner1.png" width="100%">
      </div>
      <div class="carousel-item">
        <img src="/images/banner3.png" width="100%">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="/images/delivery.png" width="140" height="140">
        <h4>FAST & FREE DELIVERY</h4>
        <p>With EZ-Shopping, you can get all that you need at your doorstep within 2 - 3 working days after your order is placed. Place your order and relax. Rest is on us.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/payment.png" width="140" height="140">
        <h4>SAFE & SECURE PAYMENTS</h4>
        <p>All payments are done through the RazorPay payment gateway. We ensure that all your payments are secure with no inconsistencies. Thank you for trusting us.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/images/trust.png" width="140" height="140">
        <h4>100% MONEY BACK GUARANTEE</h4>
        <p>Want to cancel your order ? Dont worry. We assure you 100% refund in case you cancel your order before delivery. No extra charges.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-6">
        <h2 class="featurette-heading">A redefined shopping experience. <span class="text-muted">Great brands, Exciting Deals</span></h2>
        <p class="lead">Choose from a wide range of products and categories (men's fashion, women's fashion, kids' wear, electronics and much more.), give reviews, add items to cart, and pay with ease all at one click. Shopping just got easier!</p>
      </div>
      <div class="col-md-6">
        <img src="/images/img2.gif" width="100%" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-6 order-md-2">
        <h2 class="featurette-heading">Buy the best quality products. <span class="text-muted"> Get amazing discounts and offers on various brands.</span></h2>
        <p class="lead">Check out the reviews of a product given by other users, compare different and choose the best of all.</p>
      </div>
      <div class="col-md-6 order-md-1">
       <img src="/images/img1.gif" width="95%" height="450">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
</main>

