<div class="container" style="display: flex; justify-content: center;">
    <img src="/images/placed.gif" alt="placed" style="width: 55%;">
</div>
<div class="container">
    <h1 style="color: green; text-align:center" class="display-4">Your order has been placed successfully!</h1>
    <br><br>
</div>