<main>
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Create Your Account</h1>
        <p class="col-lg-10 fs-4">Looks like you're new here! Sign up with your email to get started.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light" action="/users/signup" method="POST">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
            <label for="name">Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" onkeyup="checkPass()" name="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="cfloatingPassword" onkeyup="checkPass()" placeholder="Confirm Password">
            <label for="cfloatingPassword">Confirm Password</label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" id="subBTN" disabled type="submit">Sign up</button>
          <hr class="my-4">
          <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
        </form>
      </div>
    </div>
  </div>
  <script>
      var checkPass = function() {
          if(document.getElementById('floatingPassword').value == document.getElementById('cfloatingPassword').value) {
              document.getElementById('subBTN').disabled = false;
          }
          else {
              document.getElementById('subBTN').disabled = true;
          }
      }
  </script>
  </main>